@import './base.css';

#app {
  max-width: 1900px;
  margin: 0 auto;
  padding: 4rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #1E88E5;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(219, 78%, 78%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
  }
}
